/* @keyframes rotate {
 0% {
    height: 200px;
  }
  100% {
    height: 300px;
  }
 0% {
    stroke-dashoffset: (0.66 * 40);
  }
  50% {
    stroke-dashoffset: (3.14 * 40);
  }
  100% {
    stroke-dashoffset: (0.66 * 40);
  }
}

.circle {
 transform: rotate(720deg);
  fill: transparent;
  transform-origin: 20px 20px;
  stroke: #0ac8a6;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 160;
  animation: rotate 2s linear infinite;
} */
